@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-background;
  }

  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
  }

  .w-md-editor-text-pre > code,
  .w-md-editor-text-input {
    font-size: 1.5rem !important;
    line-height: 1.5rem !important;
  }

  .w-md-editor-content,
  .w-md-editor-toolbar {
    @apply bg-surface-light;
  }
}
